[submodule "Tools/FE-CLib"]
	path = Tools/FE-CLib
	url = https://github.com/StanHash/FE-CLib.git
[submodule "Tools/FE-PyTools"]
	path = Tools/FE-PyTools
	url = https://github.com/StanHash/FE-PyTools.git
[submodule "Tools/FE-CLib-Mokha"]
	path = Tools/FE-CLib-Mokha
	url = https://github.com/MokhaLeee/FE-CLib-Mokha.git
[submodule "Tools/EventAssembler"]
	path = Tools/EventAssembler
	url = https://github.com/StanHash/EventAssembler.git
[submodule "Tools/text-process-cfitted"]
	path = Tools/text-process-cfitted
	url = https://github.com/MokhaLeee/text-process-cfitted.git
[submodule "Tools/PyParseFile"]
	path = Tools/PyParseFile
	url = https://github.com/MokhaLeee/Py-ParseFile.git
[submodule "CN-Fonts"]
	path = CN-Fonts
	url = https://github.com/MokhaLeee/FE8U-cnFont-EAInstaller.git

